body{
    font-family: fantasy;
}
.button{
    font-family: fantasy;
    cursor: pointer;
    margin:4px 2px;
}

/* tr{
    background-color:yellow;
    border-color:black;
    border-width: 5px;
    height: 10px;
    width: 10px;
} */
td{
    border-color:black;
    border-style:solid;
    height: 10px;
    width: 10px;
} 