body{
    font-family: fantasy;
    text-align: center;
}
.button{
    font-family: fantasy;
    cursor: pointer;
    margin:4px 2px;
}

 /* tr{}  */
td{
    box-sizing: border-box;
    border-color:black;
    border-style:solid;
    height: 50px;
    width: 50px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


